#c{
	font: bold 520% tahoma;
		color: #1B991D;
}
#m{
font: bold 120% tahoma;
		color: #1B991D;	
}

#aa{
	background-color:#f781f3;
}

#bb{
	background-color:#f3f781;
}

#cc{
	background-color:#58faf4;
}

#dd{
	background-color:#f78168;
}

#ee{
	background-color:#6f45f8;
}